<section
  class="sd-banner sd-section position-relative overflow-hidden text-center bg-dark"
  id="accueil"
>
  <div class="sd-banner__content col-md-8 col-xl-6 p-lg-5 mx-auto my-5">
    <h1 class="display-5 fw-semibold text-white">
      Votre solution rapide et fiable pour tous vos dépannages sanitaires
    </h1>
    <h3 class="fw-light text-white p-lg-5 px-lg-6 mb-3">
      Besoin d'un dépannage express ?
    </h3>
    <div class="d-flex gap-3 justify-content-center lead fw-normal">
      <a href="#contact" class="btn btn-primary">Contactez nous</a>
    </div>
  </div>
</section>
