<section id="entreprise" class="sd-company sd-section">
  <div class="position-relative py-3 py-md-5 overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img
            src="/images/company.jpg"
            class="sd-company__image"
            alt="L'entreprise"
          />
        </div>
        <div class="col-md-6">
          <div class="mb-4 pt-5 pt-md-0">
            {% include title.html under="L'entreprise" subtitle="L'entreprise"
            title="Dépannage plomberie rapide et efficace" %}
          </div>

          <p>
            Besoin d'une intervention rapide en plomberie ? Nous intervenons
            immédiatement pour résoudre vos problèmes. Nos experts assurent des
            solutions durables et laissent votre espace propre et fonctionnel.
          </p>

          <p>Nous réparons :</p>
          <ul>
            <li><strong>Fuites</strong></li>
            <li><strong>Canalisations bouchées</strong></li>
            <li><strong>Robinetterie</strong></li>
            <li><strong>Chasses d'eau</strong></li>
          </ul>

          <p>
            Nous privilégions une approche professionnelle, avec des équipements
            modernes pour garantir des interventions de qualité. Faites-nous
            confiance pour résoudre vos soucis rapidement et efficacement.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
