<footer class="sd-footer py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a
        class="nav-link px-2 text-body-secondary"
        href="{{ '/mentions-legales/' | relative_url }}"
        >Mentions légales</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-2 text-body-secondary"
        href="{{ '/politique-de-confidentialite/' | relative_url }}"
        >Politique de confidentialité</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-2 text-body-secondary"
        href="{{ '/conditions-d-utilisation/' | relative_url }}"
        >Conditions d'utilisation</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link px-2 text-body-secondary"
        href="{{ '/plan-du-site/' | relative_url }}"
        >Plan du site</a
      >
    </li>
  </ul>
  <p class="text-center text-body-secondary">
    © 2024 Sani Dépanne. Tous droits réservés.
  </p>
</footer>
