<footer class="sd-footer py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Accueil</a>
    </li>
    <li class="nav-item">
      <a href="#services" class="nav-link px-2 text-body-secondary"
        >Nos services</a
      >
    </li>
    <li class="nav-item">
      <a href="#entreprise" class="nav-link px-2 text-body-secondary"
        >L'entreprise</a
      >
    </li>
    <li class="nav-item">
      <a href="#temoignages" class="nav-link px-2 text-body-secondary"
        >Témoignages</a
      >
    </li>
    <li class="nav-item">
      <a href="#contact" class="nav-link px-2 text-body-secondary">Contact</a>
    </li>
  </ul>
  <p class="text-center text-body-secondary">© 2024 Sani Dépanne</p>
</footer>
