<section
  class="sd-services sd-section position-relative py-3 py-md-5 bg-body-tertiary"
  id="temoignages"
>
  <div class="container container__fluid-xl text-left my-5">
    <div class="row">
      <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
        {% include title.html under="" subtitle="Témoignages" title="Ce que
        disent nos clients" %}
        <div class="sd-notes mt-3">
          Les expériences de nos clients sur la qualité de nos interventions en
          plomberie
        </div>
      </div>
      <div class="col-md-6 col-xl-9 mb-3 mb-xl-0">
        <div class="row mx-auto my-auto justify-content-center">
          <div
            id="recipeCarousel"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner" role="listbox">
              {% include testimonial.html
              image="//via.placeholder.com/500x400/31f?text=1" active=true %} {%
              include testimonial.html
              image="//via.placeholder.com/500x400/e66?text=2" %} {% include
              testimonial.html image="//via.placeholder.com/500x400/7d2?text=3"
              %} {% include testimonial.html
              image="//via.placeholder.com/500x400?text=4" %} {% include
              testimonial.html image="//via.placeholder.com/500x400/aba?text=5"
              %} {% include testimonial.html
              image="//via.placeholder.com/500x400/fc0?text=6" %}
            </div>
            <a
              class="carousel-control-prev bg-transparent w-aut"
              href="#recipeCarousel"
              role="button"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
            </a>
            <a
              class="carousel-control-next bg-transparent w-aut"
              href="#recipeCarousel"
              role="button"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
            </a>
          </div>
        </div>
        <h5 class="mt-2 fw-light">advances one slide at a time</h5>
      </div>
      {% comment %}
      <div
        id="testimonialsCarousel"
        class="carousel slide col-md-6 col-xl-9"
        data-bs-ride="false"
        data-bs-interval="0"
      >
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-img">
                  <img
                    src="//via.placeholder.com/500x400/31f?text=1"
                    class="img-fluid"
                  />
                </div>
                <div class="card-img-overlay">Slide 1</div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-img">
                  <img
                    src="//via.placeholder.com/500x400/e66?text=2"
                    class="img-fluid"
                  />
                </div>
                <div class="card-img-overlay">Slide 2</div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-img">
                  <img
                    src="//via.placeholder.com/500x400/7d2?text=3"
                    class="img-fluid"
                  />
                </div>
                <div class="card-img-overlay">Slide 3</div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-img">
                  <img
                    src="//via.placeholder.com/500x400?text=4"
                    class="img-fluid"
                  />
                </div>
                <div class="card-img-overlay">Slide 4</div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-img">
                  <img
                    src="//via.placeholder.com/500x400/aba?text=5"
                    class="img-fluid"
                  />
                </div>
                <div class="card-img-overlay">Slide 5</div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card">
                <div class="card-img">
                  <img
                    src="//via.placeholder.com/500x400/fc0?text=6"
                    class="img-fluid"
                  />
                </div>
                <div class="card-img-overlay">Slide 6</div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev bg-transparent w-aut"
          href="#testimonialsCarousel"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a
          class="carousel-control-next bg-transparent w-aut"
          href="#testimonialsCarousel"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
      {% endcomment %}
    </div>
  </div>
</section>
