<section
  class="sd-services sd-section position-relative py-3 py-md-5 bg-body-tertiary"
  id="temoignages"
>
  <div class="container container__fluid-xl text-left my-5">
    <div class="row">
      <div class="col-md-6 col-xl-3 mb-3 mb-xl-0">
        {% include title.html under="" subtitle="Témoignages" title="Ce que
        disent nos clients" %}
        <div class="sd-notes mt-3">
          Les expériences de nos clients sur la qualité de nos interventions en
          plomberie
        </div>
      </div>
      <div class="col-md-6 col-xl-9 mb-3 mb-xl-0">
        <div class="row mx-auto my-auto justify-content-center">
          {% include testimonials_carousel.html %}
        </div>
      </div>
    </div>
  </div>
</section>
