<div class="sd-testimonial border m-2 rounded p-3">
  <div>
    <img src="/images/icons/star.svg" width="15" />
    <img src="/images/icons/star.svg" width="15" />
    <img src="/images/icons/star.svg" width="15" />
    <img src="/images/icons/star.svg" width="15" />
    <img src="/images/icons/star.svg" width="15" />
  </div>
  <p>
    Entreprise très réactive et travail soignée. L installateur qui es intervenu
    chez nous a fait preuve d un grand professionnalisme et nous a apporter bcp
    de conseil
  </p>
</div>
