*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--font-color);
}

a:visited {
    color: inherit;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --font-color: #000000;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

main {
    background-color: red;
}

footer {
    background-color: green;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
}