
header {
    background-color: white;
    padding: 12px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 24px;
}

.header__nav ul a {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 24px;
    text-transform: uppercase;
    font-size: 16px;
}

.logo__img {
    display: block;
}
