.btn {
  --bs-btn-bg: var(--primary-blue);
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-line-height: 38px;
  --bs-border-radius: 0;
  --bs-btn-hover-bg: var(--tertiary-blue);
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-active-bg: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: var(--bs-btn-hover-bg);

  text-transform: uppercase;
}
