.sd-testimonial {
  --bs-border-style: dashed;

  background: url(/images/icons/quote.svg) no-repeat bottom right 10px;
  background-size: 60px auto;

  &__text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 7.5em;
    line-height: 1.5;
    font-size: 14px;
  }

  &__customer {
    &__name {
      font-size: 14px;
    }
  }
}
