<section
  id="contact"
  class="sd-contact sd-section position-relative py-3 py-md-5"
>
  <div class="container my-5">
    <div class="row p-4 rounded-3 shadow-lg bg-white">
      <div class="col-lg-5 p-0 p-md-3 p-lg-5">
        {% include title.html under="" subtitle="Contact" title="Contactez-nous"
        %}

        <div class="sd-notes mt-3 mb-5">
          Pour tout dépannage en plomberie, chauffage ou climatisation,
          contactez-nous. Nous intervenons rapidement pour résoudre vos
          urgences.
        </div>

        <ul class="list-unstyled">
          <li class="mb-2">
            <strong>Téléphone :</strong>
            <a class="sd-contact__phone" href="tel:+33769335025"
              >07 69 33 50 25</a
            >
          </li>
          <li class="mb-2">
            <strong>Email :</strong>
            <a href="mailto:contact@sanidepanne.fr">contact@sanidepanne.fr</a>
          </li>
          <li class="mb-2">
            <strong>Adresse :</strong> 18 rue des Saules, 68300, Saint-Louis
          </li>
          <li class="mb-2">
            <strong>Horaires :</strong>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class="fw-medium p-0">Lundi – Vendredi :</td>
                  <td class="p-0">08:00 – 18:00</td>
                </tr>
                <tr>
                  <td class="fw-medium p-0">Samedi :</td>
                  <td class="p-0">08:00 – 12:00</td>
                </tr>
                <tr>
                  <td class="fw-medium p-0">Dimanche :</td>
                  <td class="p-0">Fermé</td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
      <div class="col-lg-7 p-0 overflow-hidden">
        <form
          class="p-0 p-md-3 p-lg-5"
          action="{{ site.global_variables.formspree_url }}"
          method="POST"
        >
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingNom"
                  placeholder="Nom"
                  required
                  name="Nom"
                />
                <label for="floatingNom">Nom</label>
                <div class="invalid-feedback">
                  Veuillez renseigner votre nom.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingPrenom"
                  placeholder="Prénom"
                  required
                  name="Prénom"
                />
                <label for="floatingPrenom">Prénom</label>
                <div class="invalid-feedback">
                  Veuillez renseigner votre prénom.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-floating">
                <input 
                  type="email" 
                  class="form-control" 
                  id="floatingEmail" 
                  placeholder="Adresse e-mail" 
                  required 
                  name="_replyto"
                />
                <label for="floatingEmail">Adresse e-mail</label>
                <div class="invalid-feedback">
                  Veuillez renseigner une adresse e-mail valide.
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="form-floating">
                <input
                  type="tel"
                  class="form-control"
                  id="floatingPhone"
                  placeholder="Numéro de téléphone"
                  required
                  name="Numéro de téléphone"
                />
                <label for="floatingPhone">Numéro de téléphone</label>
                <div class="invalid-feedback">
                  Veuillez renseigner un numéro de téléphone valide.
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingSujet"
                placeholder="Sujet"
                required
                name="Sujet"
              />
              <label for="floatingSujet">Sujet</label>
              <div class="invalid-feedback">Veuillez renseigner le sujet.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-floating">
              <textarea
                class="form-control"
                id="floatingMessage"
                placeholder="Message"
                style="height: 150px"
                required
                name="Message"
              ></textarea>
              <label for="floatingMessage">Message</label>
              <div class="invalid-feedback">Veuillez écrire votre message.</div>
            </div>
          </div>

          <button class="w-100 btn btn-primary" type="submit">Envoyer</button>
          <hr class="my-4" />

          <small>
            En cliquant sur "Envoyer", vous acceptez les
            <a href="/conditions-d-utilisation">conditions d'utilisation</a>.
          </small>
        </form>
      </div>
    </div>
  </div>
</section>
