:root {
  --font-family-base: "Montserrat", sans-serif;
  --bs-body-font-family: "Montserrat", sans-serif;
  --primary-blue: #51acfb;
  --secondary-blue: #0c4c93;
  --tertiary-blue: #1e60aa;
  --primary-red: #ff4917;
  --secondary-red: #a62f0f;
}
