body {
  font-family: var(--font-family-base);
}

html {
  scroll-behavior: smooth;
}

a {
  --bs-link-color: var(--tertiary-blue);

  color: var(--bs-link-color);
  text-decoration: none;

  &:hover {
    --bs-link-hover-color: var(--secondary-blue);

    color: var(--bs-link-hover-color);
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--secondary-blue);
}
