body {
  font-family: var(--font-family-base);
}

html {
  scroll-behavior: smooth;
}

a {
  --bs-link-color: var(--tertiary-blue);

  color: var(--bs-link-color);

  &:hover {
    --bs-link-hover-color: var(--secondary-blue);

    color: var(--bs-link-hover-color);
  }
}
