$breakpoint-xs: 0 !default; // extra small, <576px
$breakpoint-sm: 576px !default; // small, >=576px
$breakpoint-md: 768px !default; // medium, >=768px
$breakpoint-lg: 992px !default; // large, >=992px
$breakpoint-xl: 1200px !default; // extra large, >=1200px
$breakpoint-xxl: 1400px !default; // extra extra large, >=1400px
$breakpoint-xxxl: 1600px !default; // 1600px
